html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    height: inherit;
    width: inherit;
    position: absolute;
}
#root {
    height: inherit;
    width: inherit;
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-areas: "h h "
                         "s c "
                         "f f";
    grid-template-rows: .2fr 1fr .08fr;
    grid-template-columns: 150px 1fr;
    
}
