.div {
    position: relative;
    width: 90%;
    height: 70%;
    margin-left: 50px;
    margin-top: 50px;
}

.Canvas {
    border: 1px solid darkred;
    height: 100%;
    width: 100%;
    background-color: black; 
}