.NavBar {
    background: linear-gradient(0deg, cornsilk, thistle);
    grid-area: n;
    position: relative;
}

.InputField {
    width: 70px;
    height: 30px;
    margin-left: 5px;
    margin-top: 0px;
}

.ButtonDraw {
    width: 80px;
    height: 35px;
    font-size: 1.5em;
    margin-top: 5px;
    margin-left: 5px;
    vertical-align: bottom;

}

.Coordinate {
    color: darkslategray;
    font-size: 1.2em;
}

.DeleteButton {
 width: 170px;
 height: 30px;
 margin-top: 5px;
 margin-left: 50%;
 transform: translateX(-50%);
 
}